numpy
pandas
azureml-core
azureml-train
azureml-widgets
azureml.dataprep==2.27.1
azure-mgmt-resource==20.1.0
tqdm
joblib
scikit-learn
scikit-image
matplotlib
tensorflow==2.8.0
keras==2.8.0 # not directly required, pinned by Snyk to avoid a vulnerability
arcus-ml==1.0.11.1
opencv-python==4.5.5.62
pillow==9.0.1 # not directly required, pinned by Snyk to avoid a vulnerabilitypillow>=8.1.0 # not directly required, pinned by Snyk to avoid a vulnerability
kaggle
networkx==2.6.3 # not directly required, pinned by Snyk to avoid a vulnerability
