numpy
pandas
azureml-core
azureml-train
azureml-widgets
azureml.dataprep
tqdm
joblib
scikit-learn
scikit-image
matplotlib
tensorflow>=2.1.0
keras
arcus-ml>=1.0.11
opencv-python
pillow>=8.1.0 # not directly required, pinned by Snyk to avoid a vulnerabilitypillow>=8.1.0 # not directly required, pinned by Snyk to avoid a vulnerability
kaggle

