arcus-azureml==1.1.2.2.2022042902rc0
arcus-ml==1.0.11.1
opencv-python==3.3.0.9
azureml-telemetry
azureml-widgets
azureml-dataprep
azureml-train
numpy
pandas
azureml-core
tqdm
joblib
scikit-learn
matplotlib
azureml-core
tqdm
scikit-learn
seaborn
scikit-image
inference-schema
pillow==9.0.1 # not directly required, pinned by Snyk to avoid a vulnerability
