arcus-azureml==1.1.2.2.2021021801rc0
arcus-ml==1.0.11.1
azureml-telemetry
azureml-widgets
azureml-dataprep
azureml-train
numpy
pandas
azureml-core
tqdm
joblib
scikit-learn
matplotlib
azureml-core
tqdm
scikit-learn
opencv-python
seaborn
scikit-image
pillow==8.1.0 # not directly required, pinned by Snyk to avoid a vulnerability
